<h1>Controller View</h1>

<a asp-controller="Informacion"
   asp-action="Index">
    Volver al menú
</a>

<hr/>
<h2 style="color:blue">
    Nombre: @ViewBag.Nombre
</h2>
<h2 style="color:blue">
    <b>Apellido: @ViewBag.Apellido</b>
</h2>
<h3 style="color:green">
    Descripción: @ViewBag.Descripcion
</h3>
<h4 style="color:brown">
    Año: @ViewBag.Year
</h4>