<h1>Menú Index Practicas</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Practicas"
           a asp-action="MenuPracticasView">
            Ir a la Vista llamada Menú
        </a>
    </li>
</ul>