<h1>Menú Prácticas View</h1>

<ul class="list-group-item">
    <li class="list-group-item">
        <a asp-controller="Practicas"
           asp-action="EjemploColeccionesPracticasView">
            Ir al ejemplo de colecciones
        </a>
    </li>
</ul>

<ul class="list-group-item">
    <li class="list-group-item">
        <a asp-controller="Practicas"
           asp-action="SumaNumerosPostView">
            Ir a Suma Números POST
        </a>
    </li>
</ul>
<ul>

<ul class="list-group-item">
    <li class="list-group-item">
        <a asp-controller="Practicas"
           asp-action="SumaNumerosGetView">
            Ir a Suma Números GET
        </a>
    </li>
</ul>
<ul>



