<h1>Suma Números POST</h1>

<a asp-controller="Practicas"
   asp-action="MenuPracticasView">
    Volver al menú
    </a>

<form method="post">
    <label>Num 1: </label>
    <input type="number" name="num1" class="form-control" /><br />
    <label>Num 2: </label>
    <input type="number" name="num2" class="form-control" /><br />
    <button class="btn btn-dark">
        Sumar
        </button>
</form>
<hr />


<h1 style="color:green">
                    @ViewBag.Numero1 + @ViewBag.Numero2 = @ViewBag.Total
</h1> 